---
import { Image } from "astro:assets";

import brand from "../assets/img/brand/brand_light.svg";
import brand_sm from "../assets/img/brand/sm_light.svg";

import Contact from "./common/Contact.astro";

import { SHORT_NAME, LEMA } from "../consts";

const year = new Date().getFullYear();
---

<footer class="bg-cod_gray-950 text-cod_gray-50 text-sm">
    <div
        id="lema"
        class="flex flex-col items-center gap-4 sm:grid sm:grid-cols-3 px-5 py-10 bg-Shiraz-800 bg-main-pattern bg-no-repeat bg-center bg-cover text-center"
    >
        <div class="flex justify-center">
            <Image
                src={brand}
                alt="Grupo de Investigación en informática educativa"
                width={200}
                loading="lazy"
                decoding="async"
            />
        </div>
        <div class="flex items-center justify-center col-span-2">
            <p class="text-2xl bold">{LEMA}</p>
        </div>
    </div>
    <div
        id="main-footer"
        class="flex flex-col sm:grid sm:grid-cols-2 p-5 pt-10 sm:py-3"
    >
        <div class="flex justify-center flex-row gap-5">
            <Image
                src={brand_sm}
                alt="GIEd"
                width={35}
                loading="lazy"
                decoding="async"
            />
            <div class="flex flex-row gap-4 items-center">
                <Contact loading="lazy" />
            </div>
        </div>
        <div class="flex flex-row justify-center p-5 gap-4">
            <!-- <a href="/">Sobre GIEd</a>
            <a href="/projects">Proyectos</a>
            <a href="/research">Investigación</a> -->
        </div>
    </div>
    <div id="copyright" class="p-3 text-center">
        © {year}
        {SHORT_NAME}. Todos los derechos reservados
    </div>
</footer>
