---
import github_icon from "../../assets/icons/github_light.svg";
import email_icon from "../../assets/icons/email_light.svg";
import instagram_icon from "../../assets/icons/instagram_light.svg";

import Icon from "./Icon.astro";
const { loading = "eager", ...props } = Astro.props;
---

<a href="https://github.com/gieu/" target="_blank">
    <Icon src={github_icon} alt="github" loading={loading} />
</a>
<a href="https://www.instagram.com/gied_uninorte/" target="_blank">
    <Icon src={instagram_icon} alt="instagram" loading={loading} />
</a>
<a href="mailto:cvieira@uninorte.edu.co">
    <Icon src={email_icon} alt="email" loading={loading} />
</a>
<a
    href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000008079"
    target="_blank"
    class="rounded-full transition border-cod_gray-50 border-solid border py-1 px-2 hover:bg-cod_gray-900/50 text-xs"
    >GrupLAC</a
>
